<div class='text-center'>
  <h1>DayPie</h1>
  <p>Bake delicious pies... And carpe diem!</p>
  <input type='text'></input>
  <br/>
  <a class='btn btn-success'>Search</a>
  <%= link_to 'Bake a fresh pie!',
              new_pie_path,
              :id => 'new_pie',
              :class => 'btn btn-warning' %>
</div>

<hr>

<% @pies.each do |pie| %>
  <div class='row-fluid'>
    <div class='span4'>
      <%= image_tag asset_path 'pie.jpg' %>
    </div>
    <div class='span4'>
      <h3><%= link_to pie.name, pie %></h3>
      <p class='muted'>by <%= pie.user.username %></p>
      <p><%= pie.description %><p>
    </div>
  </div>
<% end %>
